{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 8
        },
        "useBuiltIns": "entry",
        "exclude": ["transform-regenerator"]
      }
    ]
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ]
}